<div class="hongbao-container">
  <div class="hongbao">
    <div class="top-content">
      <div class="avatar">
        <img src="../favicon.ico" alt="">
      </div>
      <span class="from-username">Angular</span>
      <div class="hongbao-message">恭喜发财, 大吉大利</div>
    </div>
    <div class="open-hongbao"
      [@openHongbaoAnm]="openState"
      (@openHongbaoAnm.done)="openHongbaoAnmDone($event)"
      (click)="openHongbao()">
      <span>開</span>
    </div>
    <span class="see-detail">看看大家的手气></span>
  </div>
</div>
