.hongbao-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .65);
}

.hongbao {
  text-align: center;
  height: 480px;
  background: #f05a49;
  width: 300px;
  left: 0;
  top: 0;
  border-radius: 10px;
  margin: 0 auto;
}

.top-content {
  height: 380px;
  border: 1px solid #e05e44;
  background-color: #ee614f;
  border-radius: 10px 10px 50% 50% / 10px 10px 12% 12%;
  box-shadow: 0px 2px 0px -1px rgba(0, 0, 0, 0.2);
}

.avatar {
  position: relative;
  img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20%;
  }
}

.from-username {
  font-size: 14px;
  color: #e6cc9b;
}

.hongbao-message {
  padding: 0 30px;
  margin: 15px 0;
  font-size: 20px;
  color: #e6cc9b;
  letter-spacing: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.open-hongbao {
  margin: -55px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 36px;
  width: 100px;
  height: 100px;
  border: 1px solid #f5c68b;
  background-color: #e6cc9b;
  border-radius: 50%;
  color: #000;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
  span {
    margin: 0 auto;
    display: inline-block;
  }
}

.see-detail {
  display: block;
  margin-top: 20px;
  color: #e6cc9b;
  font-size: 12px;
  letter-spacing: 1px;
}
